/* Обычный */
@font-face {
	font-family: 'Inter'; 
	src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf); 
}
 
/* Жирный */
@font-face {
	font-family: 'Inter Italic'; 
	src: url(/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf); 
}